$primary_color: #c83c3c;$secondary_color: #2c2b2b;$third_color: #c62727;$four_color: #ffd200;$link_color: #c83c3c;$link_color_hover: #c62727;$link_color_active: #c62727;$gradient_color_from: #0b57e3;$gradient_color_to: #0b57e3;
                $body_default_font: Roboto;
            
                $heading_default_font: Poppins;
            